<!-- <!DOCTYPE html>
<html>
<head>
  <title>Image Search Results</title>
</head>
<body>
  <h1>Image Search Results for <%= query %></h1>
  <% results.forEach(function(result) { %>
    <img src="<%= result.url %>">
  <% }); %>
</body>
</html> -->


<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Results</title>
  </head>
  <body>
    <h1>Image Search Results</h1>
    <% results.forEach(function(result) { %>
      <div>
        <img src="<%= result.url %>" alt="<%= result.title %>">
        <p><%= result.title %></p>
      </div>
    <% }); %>
  </body>
</html>
